@import './reset.css';
@import './common.css';
/* 페이지가 변해도 따라오는것[헤더,푸터,큰틀] */


.header{}
.header .group-flex{
    width: 1130px;
    height: 160px;
    /* background: #f00; */
    margin: 0 auto;
    position: relative;
}

/* 위치잡기 */
.header .logo{
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}
.header .logo a{
    display: block;
}
.header .logo a::before{
    display: block;
    content: '';
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
}

.header .search-area{
    position: absolute;
    top: 50%;
    left: 238px;
    margin-top: -28px;
}
.header .search-area .green-bd{
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
}
.header .search-area .input-text{
    width: 444px;
    height: 50px;
    padding: 13px 15px;
    margin: 1px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;    /* 포커스의아웃라인 */
}
.header .search-area .btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    right: 0;
    width: 56px;
    height: 56px;
    background: #19ce60;
}
.header .search-area .btn-submit::before{
    content: '';
    width: 22px;
    height: 22px;
    background-position: -420px -24px;
}

.header .service-area{
    display: flex;
    position: absolute;
    top: 12px;
    right: -3px;

}
.header .service-area .bar{
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 3px 7px;
}
.header .service-area .link-start::after{
    content: '';
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-top: -3px;
    margin-left: 3px;
    vertical-align: top;
    background-position: -382px -213px;
}
.header .service-area .link-junior::after{
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -264px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
    content: '';
}
.header .service-area .link-bin::after{
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -365px -245px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px;
    content: '';
}




/* 스프라이트이미지는 가상영역,정확한태그에만 사용 */
.gnb{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
    border-top: 1px solid #e4e8eb
}
/* webkit-저버전 지원 하려면 사용한다 */
.gnb .inner{
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gnb .group-nav{}
.gnb .group-nav .nav-list{
    display: flex;
    padding: 11px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    gap: 12px;
    color: #19ce60
}
.gnb .group-nav .nav-item{}
.gnb .group-weather{}


.container{
    width: 1130px;
    margin: 0 auto;
    padding: 20px;
}

.recipe-category{
    color: #ebaa00;
    font-weight: bold;
    display: block;
}
.recipe-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: bold;
}

.desc{
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 42px;
    line-height: 21px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    font-size: 13px;
    color: #404040;
}
.recipe-box{
    display: inline-block;
    margin-top: 4px;
    color: #505050;
    overflow: hidden;
    display: block;
}

.btn-more .ico-more{
    position: absolute;
    top: 50%;
    left: 334px;
    color: #505050;
    cursor: pointer;
}