@import './reset.css';
@import './common.css';
/* 페이지가 변해도 따라오는것[헤더,푸터,큰틀] */


.header{}
.header .group-flex{
    width: 1130px;
    height: 160px;
    /* background: #f00; */
    margin: 0 auto;
    position: relative;
}

/* 위치잡기 */
.header .logo{
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}
.header .logo a{
    display: block;
}
.header .logo a::before{
    display: block;
    content: '';
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
}

.header .search-area{
    position: absolute;
    top: 50%;
    left: 238px;
    margin-top: -28px;
}
.header .search-area .green-bd{
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
}
.header .search-area .input-text{
    width: 444px;
    height: 50px;
    padding: 13px 15px;
    margin: 1px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;    /* 포커스의아웃라인 */
}
.header .search-area .btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    right: 0;
    width: 56px;
    height: 56px;
    background: #19ce60;
}
.header .search-area .btn-submit::before{
    content: '';
    width: 22px;
    height: 22px;
    background-position: -420px -24px;
}

.header .search-area .btn-keyboard {
    position: absolute;
    top: 0;
    right: 84px;
    bottom: 0;
    width: 36px;
    z-index: 400;
}

.header .search-area .ico-keyboard {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 20px;
    height: 12px;
    background-position: -398px -267px;
    vertical-align: top;
    margin: -6px 0 0 -10px;
}

.header .search-area .btn-complete {
    position: absolute;
    top: 0;
    right: 60px;
    bottom: 0;
    width: 22px;
    display: flex;
    align-items: center;
}
.header .search-area .ico-complete {
    display: inline-block;
    width: 10px;
    height: 5px;
    background-position: -158px -151px;
}


















.header .service-area{
    display: flex;
    position: absolute;
    top: 12px;
    right: -3px;

}
.header .service-area .bar{
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 3px 7px;
}
.header .service-area .link-start::after{
    content: '';
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-top: -3px;
    margin-left: 3px;
    vertical-align: top;
    background-position: -382px -213px;
}
.header .service-area .link-junior::after{
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -264px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
    content: '';
}
.header .service-area .link-bin::after{
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -365px -245px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px;
    content: '';
}




/* 스프라이트이미지는 가상영역,정확한태그에만 사용 */
.gnb{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
    border-top: 1px solid #e4e8eb
}
/* webkit-저버전 지원 하려면 사용한다 */
.gnb .inner{
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gnb .group-nav{
    display: flex;
    gap: 12px;
}
.gnb .group-nav .nav-list{
    display: flex;
    padding: 11px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    gap: 12px;
    color: #19ce60;
    letter-spacing: -.3px;
}
.gnb .group-nav .nav-item{}
.gnb .group-nav .nav.shop{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.gnb .group-nav .nav.shop::before{
    width: 24px;
    height: 20px;
    background-position: -76px -386px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    display: block;
}

.gnb .group-nav .nav.shoplive{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.gnb .group-nav .nav.shoplive::before{
    width: 54px;
    height: 20px;
    background-position: -209px -267px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    display: block;
}
.gnb .nav-item .ico-mail{
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -420px -73px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 4px 0 0;
}
.gnb .nav-item .ico-tv{
    display: inline-block;
    width: 12px;
    height: 14px;
    background-position: -256px -212px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px -4px 0 0;
}

.gnb .group-weather{
    display: flex;
    align-items: center;
}
.gnb .group-weather .weather-area{
    display: flex;
    gap: 9px;
}
.gnb .current-box::before{
    display: inline-block;
    width: 29px;
    height: 29px;
    background-position: -62px -31px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
}
.gnb .weather-area .current-box{
    display: flex;
    align-items: center;
}
.gnb .current-box .current{
    font-size: 15px;
    font-weight: bold;
}
.gnb .current-box .state{
    font-size: 13px;
    margin-left: 5px;
    font-weight: bold;
}

.gnb .weather-area .temper-box{
    display: flex;
    align-items: center ;
}
.gnb .temper-box .min{
    color: #2586ee;
}
.gnb .temper-box .max{
    color: #e9564a;
}
.gnb .temper-box .max::before{
    display: inline-block;
    width: 5px;
    height: 11px;
    background-position: -437px -182px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 0 3px;
    vertical-align: -1px;
}

.gnb .weather-area .location{
    color: #777;
    display: flex;
    align-items: center;
}

.gnb .group-nav .right-nav{
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    letter-spacing: -.3px;
}

.gnb .group-nav .btn-more {
    font-size: 13px;
    color: #202020;
    display: flex;
    align-items: center;
}

.gnb .group-nav .btn-more::after {
    display: inline-block;
    width: 11px;
    height: 7px;
    background-position: -402px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 7px;
    vertical-align: 2px;
}
.container{
    width: 1130px;
    margin: 0 auto;
    padding: 20px;
}

.recipe-category{
    color: #ebaa00;
    font-weight: bold;
    display: block;
}
.recipe-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: bold;
}

.desc{
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 42px;
    line-height: 21px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    font-size: 13px;
    color: #404040;
}
.recipe-box{
    display: inline-block;
    margin-top: 4px;
    color: #505050;
    overflow: hidden;
    display: block;
}

.btn-more .ico-more{
    position: absolute;
    top: 50%;
    left: 334px;
    color: #505050;
    cursor: pointer;
}




/* footer */

.footer{
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}
.footer .footer-group{
    width: 1130px;
    padding: 0 30px 92px;
    margin: 0 auto;
}
.footer .footer-group .footerAd-area{
    padding: 24px 0;
    border-bottom: 1px solid #e4e8eb;
    display: flex;
    gap: 40px;
}
.footer .footerAd-area .footerAd-wrap{
    display: flex;
}
.footer .footerAd-wrap .footerAd-img{
    width: 160px;
    height: 86px;
}
.footer .footerAd-wrap .footerAd-txt{
    margin-left: 16px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.footer .footerAd-txt .txt-subTitle{
    display: block;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #58c464;
}
.footer .footerAd-txt .txt-title{
    margin-top: 6px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.26px;
    color: #242424;
}
.footer .footerAd-txt .desc{
    overflow: hidden;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #424242;
    white-space: nowrap;
    margin-top: 8px;
    font-size: inherit;
}

.footer .notice-area{
    padding: 16px 0 15px;
    border-bottom: 1px solid #e4e8eb;
    display: flex;
    justify-content: space-between;
}
.footer .notice-area .notice-box{
    display: flex;
}
.footer .notice-box .title{
    margin-right: 13px;
    color: #202020;
    font-weight: bold;
}
.footer .notice-box .sub{
    color: #777;
}

.footer .link-all {
    color: #202020;
    font-weight: bold;
}
.footer .link-all::after {
    background-size: 442px 428px;
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -408px -110px;
    background-repeat: no-repeat;
    content: '';
    margin-left: 10px;
    vertical-align: -2px;
}

.footer .footerAside-area{
    padding: 20px 0;
    border-bottom: 1px solid #e4e8eb;
    display: flex;
    justify-content: space-between;
}

.footer .partner-list .partner-box{
    display: flex;
}
.footer .partner-list .partner-box+.partner-box{
    margin-top: 9px;
}
.footer .partner-box .title{
    width: 87px;
    font-weight: bold;
}
.footer .partner-box .link-partner{
    color: #777;
}

.footer .partner-box .link-partner+.link-partner:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
}

.footer .footerAside-area .service-list{
    display: flex;
    gap: 50px;
}
.footer .service-list .service-box{
    display: flex;
}
.footer .service-list .service-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
}
.footer .service-list .service-img{
    width: 48px;
    height: 48px;
}
.footer .service-info .title{
    display: block;
    font-weight: bold;
}
.footer .service-info a{
    color: #777;
}

.footer .corp-area {
    padding-top: 25px;
    display: flex;
}
.footer .corp-area .list-corp {
    display: flex;
}
.footer .list-corp .corp-item{
    color: #777;
}
.footer .list-corp .corp-item+.corp-item::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
    background-color: #e4e8eb;
    vertical-align: -1px;
}
.footer .corp-item strong{
    font-weight: bold;
}
.footer .corp-area address{
    font-weight: bold;
    margin-left: 13px;
}