/* 본문메인페이지 헤더,푸터도 포함될수도있다 */

.container{
    display: flex;
    justify-content: space-between;
}

.column-left{
    width: 750px;
}
.column-right{
    width: 350px;
}

.sc-news{
    margin-top: 12px;
}
.sc-news .group-issue{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
    font-size: 14px;
}


.sc-news .group-issue .issue-area{
    display: flex;
}
.sc-news .group-issue .link-media{
    font-weight: bold;
}
.sc-news .group-issue .link-issue{}


.sc-news .group-issue .direct-area{
    display: flex;
    font-weight: bold;
}
.sc-news .group-issue .link-home{
    color: #3565c9;
}
.sc-news .group-issue .link-home::after{
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #ccc;
    border-radius: 50%;
    margin-left: 7px;
    vertical-align: 3px;
}
.sc-news .group-issue .link-direct{
    margin: 0 4px 0 7px;
}

.sc-news .group-title{
    display: flex;
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
}
.sc-news .group-title .set-area{
    display: flex;
    margin-left: auto;
}
.sc-news .group-title .btn-set{
    padding: 0 9px;
}
.sc-news .group-title .btn-set.ic-list::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 13px;
    background-position: -244px -310px;
    vertical-align: top;
    opacity: .7;
}
.sc-news .group-title .btn-set.ic-thumb::after{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -276px -310px;
    vertical-align: top;
}
.sc-news .group-title .btn-set.ic-set::after{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -102px -386px;
    vertical-align: top;
    opacity: .7;
    margin: -1px 0 1px;
}

.sc-news .group-media{
    position: relative;
    height: 260px;
    border: 1px solid #dae1e6;
}
.sc-news .group-media .media-list{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
}
.sc-news .group-media .media-item{}
.sc-news .group-media .media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sc-news .group-media .media img{
    height: 20px;
}

.sc-news .vt-line{
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background:#dae1e6;
}
.sc-news .vt-line.vt1{left: calc(124px);}
.sc-news .vt-line.vt2{left: calc(124px*2);}
.sc-news .vt-line.vt3{left: calc(124px*3);}
.sc-news .vt-line.vt4{left: calc(124px*4);}
.sc-news .vt-line.vt5{left: calc(124px*5);}

.sc-news .hr-line{
    position: absolute;
    width: 100%;
    height: 1px;
    background: #dae1e6;
    left: 0;
}
.sc-news .hr-line.hr1{top: calc(65px);}
.sc-news .hr-line.hr2{top: calc(65px*2);}
.sc-news .hr-line.hr3{top: calc(65px*3);}

.sc-login {
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}
.sc-login .login-msg{
    padding-left: 3px;
    color: grey;
}
.sc-login .link-login{
    display: block;
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.sc-login .link-login::before{
    display: inline-block;
    width: 60px;
    height: 12px;
    background-position: -202px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 2px 5px 0 0;
    content: '';
}
.sc-login .flex-area{
    display: flex;
    margin: 14px 8px 0 4px;
}
.sc-login .flex-area .link-join{
    margin-left: auto;
}


.sc-sidenews{
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
    padding-right: 67px;
}
.sc-sidenews .news-wrap{
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 100%;
}
.sc-sidenews .news-wrap .badge{
    height: 18px;
    padding: 0 7px;
    margin-right: 8px;
    border: 1px solid #202020;
    border-radius: 10px;
    font-size: 11px;
    line-height: 18px;
    color: #202020;
    font-weight: 700;
}
.sc-sidenews .news-wrap .news{}

.sc-sidenews .btn-wrap{
    position: absolute;
    top: 11px;
    right: 10px;
    display: flex;
}
.sc-sidenews .btn-wrap .btn-nav{
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
}
.sc-sidenews .btn-wrap .btn-nav.next{
    margin-left: -1px;
}


/* 레시피 */


.sc-recipe{
    padding: 35px 0 27px;
    letter-spacing: -.25px;
}
.sc-recipe .group-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
}
.sc-recipe .title-area{
    display: flex;
}
.sc-recipe .title-area h2{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.sc-recipe .title-area span{
    margin-left: 8px;
    color: grey;
}
.sc-recipe .info-area{
    color: grey;
}
.sc-recipe .info-area strong{
    font-weight: bold;
    color: #000;
}


.sc-recipe .info-area a{
    margin-left: 14px;
    color: #505050;
    position: relative;
}
.sc-recipe .info-area a::after{
    position: absolute;
    top: 2px;
    left: -8px;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #e4e8eb;
}
.sc-recipe .info-area a::before{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position:-358px -310px;
    background-repeat: no-repeat;
    content: '';
    margin-right: 4px;
    vertical-align: -1px;
    opacity: .7;
}

.sc-recipe .category-area{
    position: relative;
}
.sc-recipe .btn-cate.prev{
    position: absolute;
    top: 6px;
    left: -23px;
    z-index: 1;
}
.sc-recipe .btn-cate.prev .ico-btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -128px -342px;
    background-repeat: no-repeat;
    vertical-align: top;
}
.sc-recipe .btn-cate.next{
    position: absolute;
    top: 6px;
    right: -18px;
    z-index: 1;
}
.sc-recipe .btn-cate.next .ico-btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -86px -342px;
    background-repeat: no-repeat;
    vertical-align: top;
}

.sc-recipe .category-area .category-list{
    display: flex;
    position: relative;
}
.sc-recipe .category-list li{
    position: relative;
    display: inline-block;
    width: 94px;
}

.sc-recipe .category-list li.active {
    background-color: #ebaa00;
    color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    position: relative;
    margin: 0 -1px;
}

.sc-recipe .category-list a{
    display: block;
    border-right: 1px solid #dae1e6;
    font-size: 13px;
    line-height: 49px;
    font-weight: 700;
    text-align: center;
}

.recipe-content .group-theme.list1 {
    padding: 18px 0;
}

.group-theme.list1 .recipe-list{
    display: flex;
    gap: 22px;
}

.group-theme.list1 .recipe-item .thumb-recipe{
    position: relative;
    display: block;
}
.group-theme.list1 .thumb-recipe .thumb-box{
    position: relative;
}



.group-theme.list1 .text-box {
    display: block;
    padding: 16px 18px 0 0;
}


.group-theme.list2{
    padding: 18px 0;
}
.group-theme.list2 .recipe-list .content-list{
    display: grid;
    gap: 21px;
    grid-template-columns: 170px auto;
    align-items: center;
}

.group-theme.list2 .recipe-list .content-list+.content-list {
    margin-top: 18px;
}
.group-theme.list2 .content-list .thumb-recipe.list{
    position: relative;
}


.group-theme.list2 .recipe-box .date{
    position: relative;
}
.group-theme.list2 .recipe-box .date::before{
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    content: '';
    margin: 0 5px 0 3px;
    vertical-align: 3px;
}

.content-list.ad .recipe-category{
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 700;
    color: #8f8f8f;
    box-sizing: border-box;
    vertical-align: top;
}

.content-list.ad .recipe-category .ad-close{
    margin-left: 8px;
    background-position: 0px -20px;
    background-repeat: no-repeat;
    width: 42px;
    height: 16px;
}

.content-list.ad .recipe-box .name{
    display: inline-block;
    font-size: 12px;
    color: #8f8f8f;
}

.content-list.ad .recipe-box .name::after{
    display: inline-block;
    width: 6px;
    height: 12px;
    background-position: -146.5px -327px;
    margin-left: 4px;
    vertical-align: -2.5px;
    content: '';
}



.group-theme.list3{
    border-top: 1px solid #e4e8eb;
    padding: 18px 0 17px;
}
.group-theme.list3 .recipe-list {
    display: flex;
    gap: 27px;
}

.group-theme.list3 .recipe-item .recipe-title{
    overflow: unset;
    white-space: pre-wrap;
    text-overflow: unset;
    line-height: 20px;
}
.group-theme.list3 .recipe-list .thumb-recipe{
    position: relative;
    width: 232px;
    height: 130px;
}

.group-theme.list3 .btn-play::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 28px;
    background-position: -246px -342px;
}
.group-theme.list3 .runtime{
    width: 33px;
    height: 18px;
    padding: 0 5px;
}

.group-theme+.group-theme{
    border-top: 1px solid #e4e8eb;
}


.group-theme.list3 .thumb-box .badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ebaa00;
    padding: 0 10px;
    line-height: 30px;
    color: #fff;
}

.group-theme.list3 .source-wrap{
    display: flex;
    margin-top: 3px;
}
.group-theme.list3 .source-wrap .source{
    display: block;
    color: #505050;
}
.group-theme.list3 .source-wrap .per{
    color: grey;
    position: relative;
}
.group-theme.list3 .source-wrap .per::before{
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    content: '';
    margin: 0 5px;
    vertical-align: 3px;
}
.group-theme.list3 .per strong{
    color: #ebaa00;
}
.group-theme.list3 .recipe-title{
    font-size: 14px;
    color: #000;
}
.group-theme.list3 .recipe-title .title {
    padding-bottom: 18px;
    display: block;
}

.group-theme.list3 .recipe-title .title::after{
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -408px -146px;
    content: '';
    margin-left: 6px;
}

.btn-more {    
    position: relative;
    padding-top: 36px;
    margin-bottom: 42px;
    border-bottom: 1px solid #e4e8eb;
}

.btn-more .ico-more {
    width: 42px;
    height: 42px;
    background-position: 0 -342px;
    display: block;
}

.btn-more p {
    top: 62px;
    position: absolute;
    left: 47%;
    transform: translateX(-47%);
}

/* left end */


.group-shop{
    margin-top: 15px;
}
.group-shop .trend-area{}
.group-shop .trend-area .trend-title{
    display: flex;
    justify-content: space-between;
    padding: 12px 0 13px;
    line-height: 17px;
}
.group-shop .trend-area .link-shop{
    position: relative;
    display: block;
    font-size: 13px;
    color: #000;
    font-weight: bold;
}

.group-shop .trend-area .link-shop::before{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -109px -22px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-right: 4px;
    vertical-align: -3px;
}
.group-shop .trend-area .link-shop::after{
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -109px -49px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 7px;
    vertical-align: 0;
}

.group-shop .trend-area .tab-box{
    display: flex;
}
.group-shop .trend-area .tab-box li{
    display: block;
    padding: 0 1px;
    border-bottom: 2px solid transparent;
    color: #202020;
    text-decoration: none;
    font-weight: bold;
}
.group-shop .trend-area .tab-box li+li{
    margin-left: 11px;
}
.group-shop .trend-area .tab-box li.active{
    border-color: #19ce60;
    color: #03c75a;
}

.group-shop .shop-area {
    border: 1px solid #e4e8eb;
}

.group-shop .shop-area .shop-list {
    padding: 12px 10px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #dae1e6;
} 

.group-shop .shop-list .shop-box {
    display: flex;
    justify-content: space-between;
}

.group-shop .shop-list .shop-box a {
    line-height: 23px;
}

.group-shop .shop-list .shop-box strong{
    font-weight: bold;
}

.group-shop .shop-goods {
    position: relative;
    padding: 55px 8px 20px;
}

.group-shop .shop-goods .control-wrap{
    position: absolute;
    top: 13px;
    right: 8px;
    display: flex;
    align-items: center;
}

.group-shop .control-wrap .num{
    color: gray
}
.group-shop .num strong{
    color: #202020;
    margin-right: 4px;
    font-weight: 700;
}
.group-shop .control-wrap .btn{
    margin-left: 7px;
    display: flex;
}
.group-shop .btn .prev{
    background-color: #fff;
    border: 1px solid #dae1e6;
    position: relative;
    display: block;
}

.group-shop .btn .prev::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -162px -327px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px 12px 9px 10px;
}

.group-shop .btn .next{
    background-color: #fff;
    border: 1px solid #dae1e6;
    position: relative;
    display: block;
    margin-left: -1px;
}

.group-shop .btn .next::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -146.5px -327px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px 12px 9px 10px;
}

.group-shop .goods-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: -10px;

}
.group-shop .goods-wrap .goods-item{
    margin-top: 10px;
}
.group-shop .goods-item .thumb-box{
    width: 107px;
    height: 146px;
    position: relative;
}
.group-shop .goods-item .title-box{
    margin-top: 5px;
    text-align: center;
}
.group-shop .title-box strong{
    font-weight: bold;
}

.group-shop .page-box {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}
.group-shop .page-box .btn{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #dae1e6;
    vertical-align: top;
}
.group-shop .page-box .prev::before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -162px -327px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px 12px 9px 10px;
}
.group-shop .page-box .num{
    display: inline-block;
    min-width: 61px;
    line-height: 29px;
    color: grey;
    text-align: center;
}
.group-shop .page-box .next::before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -146.5px -327px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px 12px 9px 10px;
}

.group-shop .shop-news{
    margin: 0 8px;
    padding: 19px 0 17px;
    border-top: 1px solid #e4e8eb;
}
.group-shop .shop-news .news-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group-shop .news-title .title{}
.group-shop .news-title .title strong{
    font-weight: bold;
    color: #000;
    font-size: 13px;
}
.group-shop .news-title .control-wrap{
    position: absolute;
    right: 0;
}
.group-shop .shopNews-list{
    margin: 13px 5px 0;
    line-height: 28px;
}
.group-shop .shopNews-list .shopNews-item{}
.group-shop .shopNews-item a{
    position: relative;
}
.group-shop .shopNews-item a::before{
    background-color: #1ace61;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    content: '';
    margin-right: 8px;
}
.group-shop .shopNews-item .title{
    font-weight: bold;
}
.group-shop .shopNews-item span{}